<%-include("partials/header.ejs")%>
<div class="ui container main text segment" style="margin-top:100px">
<div class="ui huge header">
	Edit Blog
	</div>
	<form action="/blog/<%=blogs._id%>?_method=PUT" method="POST" class="ui form">
		<div class="field">
			<label>Title</label>
			<input type="text" name="blog[title]" value="<%=blogs.title%>">
		</div>
		<div class="field">
			<label>Image</label>
			<input type="text" name="blog[img]" value="<%=blogs.img%>">
		</div>
		<div class="field">
			<label>Body</label>
			<textarea name="blog[body]" placeholder="Body goes Here."><%=blogs.body%></textarea>
		</div>
	<button class="ui violet basic button">Submit!</button>
	</form>
	
</div>



<%-include("partials/footer.ejs")%>